body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}



a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

   
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

a#btn_oldnavy {
    display: inline-block;
    margin:auto;
    margin-top: 100px;
    color: #182b5e;
    font-size: 45px;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    transition: all 0.5s;
}

a#btn_oldnavy:hover {
    padding: 16px 32px;
    border-radius: 50%;
    background-color: #182b5e;
    color: #ffffff;
}

a#btn_nike {
    display: inline-block;
    margin:auto;
    margin-top: 100px;
    color: #000000;
    font-size: 45px;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    transition: all 0.5s;
}

a#btn_nike:hover {
    padding: 8px 16px;
    border-radius: 0%;
    background-color: #000000;
    color: #FF6600;
    font-style: italic;
    font-size: 60;
}

a#btn_colorrun {
    display: inline-block;
    width: 120px;
    text-align: left;
    margin:auto;
    margin-top: 60px;
    color: black;
    font-size: 45px;
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 40px;
    transition: all 0.5s;
}

a#btn_colorrun:hover {
    padding: 8px 16px;
    background: linear-gradient(135deg,  #ea2ee7 0%,#28a5cb 52%,#fff132 100%);
    font-weight: 700;
    font-size: 60;
    color:white;
}

a#btn_jardin {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin:auto;
    margin-top: 60px;
    color: #669c35;
    font-size: 45px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 40px;
    transition: all 0.5s;
}

a#btn_jardin:hover {
    
    padding: 8px 16px;
    font-size: 60;
    color:rgb(86, 40, 0);
}

a#btn_moo {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin:auto;
    margin-top: 60px;
    color: #669c35;
    font-size: 50px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 40px;
    transition: all 0.5s;
}
a#btn_moo:hover {
    font-size: 40px;
}
a#btn_moo:hover {
   font-size: 10px; 
   color: white;
    transform: rotate(-45deg);
    border: 5px solid green;
    width: 100px;
    height: 100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

a#btn_flight {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin:auto;
    margin-top: 60px;
    color: rgb(16, 0, 86);
    font-size: 50px;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 40px;
    align-items: left;
    transition: all 0.5s;
}

a#btn_flight:hover .fa-solid {
   transform: translate(150%, 0%); 
   color: rgb(16, 0, 86);
   visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.3s linear;
}

a#btn_motor {
    display: inline-block;
    margin:auto;
    margin-top: 60px;
    color: rgb(205, 0, 0);
    font-size: 30px;
    font-family: "pressio-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: all 0.5s;
}

a#btn_motor:hover {
   color: rgb(255, 60, 0);
   letter-spacing: 5px;
}

a#btn_molly {
    display: inline-block;
    color: rgb(51, 77, 55);
    font-size: 30px;
    font-family: "schoolbook", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration:none;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    transition: all 0.5s;
}

a#btn_molly:hover {
    padding: 20px 32px;
    border-radius: 30px;
    background-color:rgb(51, 77, 55);
   color: blanchedalmond;
 
}

a#btn_ibm {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: 'IBM Plex Serif', serif;
    text-decoration:none;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 70px;
    padding: 10px 40px 0 40px;
    transition: all 0.5s;
}

a#btn_ibm:hover {
  font-size: 60px;
   color: #006699;
 
}

a#btn_hsn {
    display: inline-block;
    color:#006699;
    font-size: 60px;
    font-family: "myriad-pro-semiextended", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration:none;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 40px 0 40px;
    transition: all 0.5s;
}

a#btn_hsn:hover {
  font-size: 60px;
   color: #fcfcfc;
   padding: 50px 30px;
   border-radius: 100%;
   background-color:#e721ab;
}
