.static-example .positioned-element{
    background-color: rgb(0, 255, 98);
    left:100px;
}

.relative-example .positioned-element{
    background-color: rgb(0, 149, 255);
    position: relative;
    left: 100px;
    top: 50px;
    z-index: -1;
}

.absolute-example .positioned-element{
    background-color: crimson;
    position: absolute;
    top: 0;
    right:0;
}

.absolute-example{
    position: relative;
}

.fixed-example .positioned-element{
    background-color: blueviolet;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
}

.sticky-example .positioned-element{
    background-color: darkorange;
    top: 50px;
    position:sticky

}

